
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

:root {
    --bg-black: black;
    --bg-yellow: yellow;
    --bg-white: white;
    --bg-lightblue: lightblue;
    --bg-blue: blue;
    
    
}

body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   background-image: url("./img/imagen-fondo.jpg!d");
   background-size: cover;
}
   



main {
    height: 700px;

}


.row.justify-content-center {
    max-width: 550px;
    min-width: 400px;
    margin: 100px;
    justify-content: center;
    border: 1px solid white;
    box-shadow: 5px 1px 1px white;
    clear: both;
    background-color: var(--bg-white);
    font-family: 'Roboto', sans-serif;
}


form{
   margin: 20px;
   display: inline-block;
}

.asistencia {
    text-align: center;
    padding: 20px;
}





.botons m-2 {
    position: center;
    align-content: center;
    margin: 30px;
    
}


.font-footer {
    color: var(--bg-black);
    font-size: bold;
}


footer {
    clear: both;
    background-color: var(--bg-lightblue);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 5px;

    
}
  