
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


:root {
  --bg-black: #1e211e;
  --bg-yellow: #ebae34;
  --bg-white: white;
  --bg-lightblue: lightblue;
  --bg-blue: blue;


}

html, bod
	html, body {
		height: 100%;
	}
	body {
		font-family: 'Roboto', sans-serif;
		background-image: radial-gradient(circle,  #1e211e 0%, #ebae34 100%);
	}


  .nav-dark .nav-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.nav-dark .nav-link:hover {
 background-color:  #ebae34; 
}















#container1 {
  background-color: #191919;
}

#colorDiv {
  background-color: #666666;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
}

form {
  display: block;
}

.form-group label {
  text-align: center;
}

#submitBtn {
  margin: auto;
  display: block;
  border-radius: 20px;
  width: 100px;
}

.large {
  width: 100%;
}

#frgPass {
  color: #d9d9d9;
}

.page-header {
  text-align: center;
}

.footer {
  text-align: center;
}

.footer a {
  color: #d9d9d9;
}

.footer {
  clear: both;
  border-top: 1px solid --bg-lightblue;  
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 4px;
  
}
